# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for common source files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.bicep text eol=lf
*.sh text eol=lf

# Dockerfiles
Dockerfile text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.ico binary
